
header {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.navbar {
    padding: 0.8rem 1rem;
}

.navbar-toggler {
    border: none;
    background-color: transparent;
}

.navbar-nav {
  display: flex;
  align-items: center;
  width: 100%;
}

.nav-right {
  display: flex;
  margin-left: auto;
}

.nav-link {
    color: #333;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #007bff; 
}

.alert {
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    width: 80%;
  }

  .alert-success {
    background-color: rgba(76, 175, 80, 0.7);
    color: white;
    border: none;
  }

  .alert-error {
    background-color: rgba(244, 67, 54, 0.7);
    color: white;
    border: none;
  }

  .alert-info {
    background-color: rgba(33, 150, 243, 0.7);
    color: white;
    border: none;
  }