
header {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.navbar {
    padding: 0.8rem 1rem;
}

.navbar-toggler {
    border: none;
    background-color: transparent;
}

.navbar-nav {
  display: flex;
  align-items: center;
  width: 100%;
}

.nav-right {
  display: flex;
  margin-left: auto;
}

.nav-link {
    color: #333;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #007bff; 
}